//Variables

$color-fondo: linear-gradient(180deg, #6dc3f0 0%, #0a0a0a 100%);
$color-fondo2: linear-gradient(to left , #161124 , #01a7ee);
$color-fondo3: linear-gradient(to right , #161124 , #01a7ee);
$color-registro: #2B86C5;

//Variables bootstrap

