@use '_commons' as c;

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: #6dc3f0;
    background-image: (c.$color-fondo) ;
    justify-content: center;
    align-items: center;
    
}



/* Formulario registrarse */
.form-registro{
    width: 400px;
    background: (c.$color-fondo2);
    padding: 30px;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    box-shadow: 7px 13px 37px #000;

    h4{
        font-size: 22px;
        margin-bottom: 20px;
        color: #ffffff;
        text-align: center;
    }

    p{
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
            
    }

    .butons{
        width: 100%;
        background: (c.$color-fondo3);
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }

    .butons:hover {
        color: (c.$color-registro);
        background-color: #ffffff;
    }

}

form{
    width: 100%;
}

.controls{
    width: 100%;
    color: (c.$color-registro);
    background-color: #161124;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid (c.$color-registro);
    font-family: 'Roboto', sans-serif ;
    font-size: 18px;
}

@media screen and (max-width: 700px){
    .form-registro{
        margin: auto;
        
    }
}
/* Fin Formulario */

/* productos de inventario*/
.producto{
    margin: 30px;
    padding: 50px;
}


/*personajes*/



.personajes{
    padding: 0 12%;   
    height: 100%;
    
    
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

    .personajes-text{
        
        h5{
            font-size: 14px;
            font-weight: 400;
            color: white;
            margin-bottom: 40px;
        }

        h1{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 80px;
            line-height: 1;
            color: white;
            margin: 0 0 45px;
        }

        h4{
            font-size: 18px;
            font-weight: 600;
            color: white;
            margin-bottom: 10px;
        }

        p{
            color: white;
            font-size: 15px;
            line-height: 1.9;
            margin-bottom: 5px;
            
        }
    }

    .personajes-img{
        margin: 0;
        padding: 0;
        width: 700px;
                
        :hover{
            transform: scale(1.15);
        }  
    }

    .item-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        align-content: flex-start;
 
        .item{
            background-color: #0e0d0d;
        }

        p:hover{
            color: cyan;
            background: transparent;
            border: 1px solid rgb(247, 5, 5);
            transform: translateX(8px);
        }

    }
}




@media (max-width: 700px){
    

    .personajes{
        margin: auto;
        padding: auto;   
        height: 100%;
        width: auto;
        min-height: 100vh;
        position: relative;
        display: grid;
        grid-template-columns:1fr;
        align-items: center;
        gap: 1rem;
        line-height: 1.5;
        
        .personajes-text{


            .h5{
                display: none;
            }
            .h4{
                display: none;
            }
            .h1{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 40px;
                line-height: 1;  
                text-align: start;
            }       
                
        }
        .personajes-img{
            display: flex;
            text-align: start;  
            width: 100%;
        }   
    }
}

