* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6dc3f0;
  background-image: linear-gradient(180deg, #6dc3f0 0%, #0a0a0a 100%);
  justify-content: center;
  align-items: center;
}

/*Grid*/
#contenedor {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 100px auto auto;
  grid-template-areas: "cabecera" "hero" "noticias" "contenido" "pie";
}

#cabecera {
  grid-area: cabecera;
}

.hero {
  grid-area: hero;
}

.noticias {
  grid-area: noticias;
}

.noticias-contenido {
  grid-area: contenido;
}

#pie {
  grid-area: pie;
}

/* Formulario registrarse */
.form-registro {
  width: 400px;
  background: linear-gradient(to left, #161124, #01a7ee);
  padding: 30px;
  margin-left: auto;
  margin-top: 10px;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  box-shadow: 7px 13px 37px #000;
}
.form-registro h4 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}
.form-registro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-registro .butons {
  width: 100%;
  background: linear-gradient(to right, #161124, #01a7ee);
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.form-registro .butons:hover {
  color: #2B86C5;
  background-color: #ffffff;
}

form {
  width: 100%;
}

.controls {
  width: 100%;
  color: #2B86C5;
  background-color: #161124;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #2B86C5;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 700px) {
  .form-registro {
    margin: auto;
  }
}
/* Fin Formulario */
/* productos de inventario*/
.producto {
  margin: 30px;
  padding: 50px;
}

/*personajes*/
.personajes {
  margin: auto;
  padding: 10px;
  height: 100%;
  width: auto;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
  line-height: 1.5;
}
.personajes .personajes-text {
  color: #ffffff;
  text-align: center;
}
.personajes .personajes-text h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  line-height: 3;
  text-align: center;
  color: #000;
}
.personajes .personajes-text h4 {
  color: white;
}
.personajes .personajes-text h5 {
  padding: 10px;
  color: rgb(56, 55, 55);
  font-size: 15px;
}
.personajes .personajes-img {
  display: flex;
  text-align: start;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .personajes {
    padding: 0 12%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
  }
  .personajes .personajes-text h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    line-height: 1;
    color: rgb(0, 0, 0);
    margin: 0 0 45px;
    text-align: center;
  }
  .personajes .personajes-text h4 {
    color: white;
  }
  .personajes .personajes-text h5 {
    color: rgb(56, 55, 55);
  }
  .personajes .personajes-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 5px;
    text-align: center;
  }
  .personajes .personajes-img {
    margin: 0;
    padding: 0;
    width: 1;
  }
  .personajes .personajes-img :hover {
    transform: scale(1.15);
  }
  .personajes .item-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .personajes .item-container .item {
    background-color: #000000;
  }
  .personajes .item-container p:hover {
    color: cyan;
    background: transparent;
    border: 1px solid rgb(247, 5, 5);
    transform: translateX(8px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pie {
  font-weight: 400;
  background-color: #ededed;
}

.footer {
  padding: 40px 0;
}
.footer .social {
  text-align: center;
  padding: 25px;
  color: #4b4c4d;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social :hover {
  opacity: 0.9;
  transform: scale(1.2);
  color: #2B86C5;
}
.footer .list {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer .list a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer .list li {
  display: inline-block;
  padding: 0 15px;
}
.footer .list :hover {
  opacity: 1;
  color: #2B86C5;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #2B86C5;
}/*# sourceMappingURL=main.css.map */